body {
   background-color: #f1f4ff; 
}

#page-container {
    position: relative;
    min-height: 100vh;
  }

#content-wrap::after {
    content: '';
    display: block;
    height: 50px;
}

.content {
    max-width: 500px;
    margin: auto;
    padding: 10px;
    background-color: rgba(222, 226, 253, 0);
    border-radius: 5%;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: none;
    text-align: center;
    font-weight:lighter ;
    font-family: 'Source Sans Pro';
} 
  
/* Style the buttons inside the tab */
.tab button {
    background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    padding: 7px 7px;
    color:rgb(0, 0, 160);
    font-weight: bold;
}

/* Style the tab content */
.tabcontent {
    max-height: 500px;
    max-width:500px;
    margin: auto;
    padding: 10px;
    font-size: 13px;
    text-align: justify;
}

h2 {
    text-align: center;
    color: rgb(0, 0, 92);
    font-family: 'Source Sans Pro';
}

p {
    color: rgb(0, 0, 92);
    font-family: 'Source Sans Pro';
    font-size: 13px;
}

ul {
    color:rgb(0, 0, 92);
    font-family: 'Source Sans Pro';
    font-size: 13px;
}

#profile {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: center; 
    border-radius: 5%;
    
}

#typing {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: center;
    background-color: rgba(114, 135, 255, 0);
    animation: fadeBackground 2s;
    animation-fill-mode: forwards;
    border-radius: 5%;
}

#links {
    color: rgb(0, 0, 160);
    margin-left: auto;
    margin-right: auto;
}


.tab button:hover {
    display: inline-block;
    position: relative;
    color: rgb(92, 104, 209);
}
  
.tab button:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(92, 104, 209);
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}

.tab button:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;           
  } 

img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

a:hover {
    color: rgb(92, 104, 209);
    font-weight: bold;
    background-color: transparent;
}